.container {
  margin: clamp(8px, 2vw, 16px) auto;
  justify-content: space-evenly;
  text-decoration: underline;
}

.btn {
  text-decoration: underline;
  font-size: clamp(8px, 1vw, 16px);
  margin-right: clamp(4px, 1vw, 8px);
  margin-left: clamp(4px, 1vw, 8px);
}

@media (min-width: 576px) {
  .btn {
    text-decoration: underline;
    font-size: clamp(8px, 2vw, 16px);
    margin-right: clamp(4px, 2vw, 8px);
    margin-left: clamp(4px, 2vw, 8px);
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    display: flex;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
