.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  width: 98%;
}

.wrapper {
  // background-color: blue;
  width: 90px;
  height: 90px;
  margin: 2px;
}

// .lastPhoto{
//       display: none;
//   }

@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .wrapper {
    width: 175px;
    height: 175px;
    margin: 8px;
  }
  .lastPhoto{
      display: block;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .wrapper {
    width: 30%;
    height: auto;
    margin: 4px;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
