@import "fonts";

.container {
  width: 100%;
  max-width: 1300px;
  // margin: clamp(16px, 5vh, 48px) auto;
  margin: 0 auto;

  padding: 0 8px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin: clamp(32px, 6vh, 64px) auto;
  margin-bottom: clamp(24px, 4vh, 48px);
}

.imageWrapper {
  width: 40%;
  height: 150px;
}

.teaserText {
  width: 60%;
  height: 150px;
  padding-left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-weight: 300;
  line-height: 1.3;
  // text-align: justify;
}

.extendedTeaser {
  // display: none;
}

.fullPTeaser {
    display: none;
  }

.btn {
  width: 50%;
  max-width: 150px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.btnLink{
  text-align: center;
  margin-bottom: 24px;
}

.accordian {
  overflow: hidden;
  width: 95%;
  // max-width: 900px;
  margin: 0 auto;
  transition: max-height 0.8s ease;
  font-weight: 300;
  line-height: 1.5;
  text-align: justify;
}

.signOff {
  margin-left: auto;
  overflow: visible;
  padding: 2px;
  margin-bottom: clamp(32px, 7vh, 32px);
  width: clamp(175px, 25vw, 300px);
  .signature {
    width: 90%;
  }
  .tagline{
    width: 80%;
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .imageWrapper {
    width: 250px;
    height: 250px;
  }
  .teaserText {
    // width: 250px;
    height: 250px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .imageWrapper {
    width: 300px;
    height: 300px;
  }
  .teaserText {
    // width: 300px;
    height: 300px;
    font-weight: 300;
    line-height: 1.7;
  }
  .extendedTeaser {
    display: block;
  }
  .accordian {
    width: 90%;
    font-weight: 300;
    line-height: 1.7;
  }
  .pDesktop {
  }
  
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    margin: 0 auto;
  }
  .imageWrapper {
    width: 350px;
    height: 350px;
  }
  .teaserText {
    // width: 350px;
    height: 350px;
  }
  .extendedTeaser {
    display: none;
  }
  .fullPTeaser {
    display: block;
  }
  .mobileFirstP{
	  display: none;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .imageWrapper {
    width: 400px;
    height: 400px;
  }
  .teaserText {
    // width: 400px;
    height: 400px;
  }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
