@import "fonts";

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: clamp(24px, 7vw, 128px) 8px 0 8px;
}

.linksContainer {
  margin: 0 auto;
  max-width: 1000px;
  padding: clamp(48px, 6vw, 64px) 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.linkWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // padding: 1rem;
  margin: clamp(0.5rem, 2vw ,1em);
  width: 42%;
  height: 175px;
  // background-color: #f2ecf3;
}

.linkTitle {
  color: black;
  font-size: clamp(12px, 3vw, 24px);
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.linkText {
  color: black;
  font-size: clamp(8px, 2vw, 18px);
  padding: 0;
  margin: 0;
  margin-top: 1em;
}

.actionBtns{
  margin-top: auto;
}

.actionBtn {
  padding: clamp(3px, 1vw, 8px);
  border: 1px solid rgb(36, 36, 36);
  transition: all 0.3s ease-in-out;
  font-size: clamp(9px, 1.5vw, 16px) !important;
  // position: absolute;
  // margin-left: auto;
  margin-right: 3px;
  // left: 0;
  // right: 0;
  text-align: center;
  // bottom: -35px;
  // transform: translate(25px, 0px);
  font-size: 13px;
  text-decoration: none;
  // width: 150px;
  color: rgb(36, 36, 36);
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  &:hover {
    color: white;
    background-color: black;
  }
  &:focus {
    outline: none;
  }
}

@media (min-width: 576px) {
  .linkWrapper {
    height: 300px;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .actionBtn{
    border: 2px solid rgb(36, 36, 36);
  }
  .linkWrapper {
    height: 350px;
  }
  .linkTitle {
    color: black;
    padding-top: 6px;
  }

  .linkText {
	color: black;
	margin: 0.7em 0;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .linkWrapper {
    height: 400px;
    margin: clamp(1rem, 2vw ,2em);
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}
