@import 'fonts';

.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // margin-top: clamp(32px, 8vw, 56px);
}

.instaWrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 12px auto;
    width: 95%;
    padding: clamp(16px, 2vw, 24px);
    border-radius: 8px;
    background-color: rgb(235, 235, 235);
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 12px auto;
    width: 100%;
    padding: clamp(24px, 2vw, 24px) clamp(4px, 1vw, 24px);
    border-radius: 8px;
    height: 567px;
    background-color: rgb(235, 235, 235);
}

.companyName{
    font-family: $font-body;
    // text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: clamp(8px, 2vh, 24px);
    font-size: clamp(20px, 2.5vw, 32px);
}

.instaLink{
    display: none;
    text-align: center;
    font-size: clamp(16px, 1.5vw, 20px);
}



@media (min-width: 576px) {
    .wrapper{
        width: 45%;
    }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .instaWrapper{
        width: 33%;
    }
    .wrapper{
        width: 30%;
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {

}