.container{
    width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: clamp(24px, 7vw, 128px) 8px 0 8px;
}

.wrapper{
	padding: clamp(24px, 3vw, 32px) 0;
	padding-bottom: 0;
}

.rowWrapper {
	width: inherit;
	height: 150px;
	// background-color: red;
	margin: clamp(16px, 5vh, 32px) auto;
	display: flex;
	justify-content: space-around;
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.rowWrapper {
		height: 250px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.rowWrapper {
		height: 300px;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.rowWrapper {
		height: 400px;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// .rowWrapper {
	// 	height: 450px;
	// }
	// .colWrapper {
	// 	width: 450px;
	// }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	// .rowWrapper {
	// 	height: 500px;
	// }
	// .colWrapper {
	// 	width: 500px;
	// }
}