@import 'fonts';

.container {
	width: 100%;
	max-width: 1000px;
	margin: clamp(64px, 8vw, 128px) auto;
	padding: 0 8px;
}

.rowWrapper {
	width: inherit;
	height: 150px;
	// background-color: red;
	margin: clamp(16px, 5vh, 32px) auto;
	display: flex;
	justify-content: space-around;
}

.colWrapper {
	width: 150px;
	height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	// background-color: blue;
}

.videoTitle {
	font-size: clamp(18px, 3vw, 32px);
	text-transform: uppercase;
    font-family: $font-header;
    margin-bottom: 1em;
}

.videoDescription {
	display: none;
}

.btn {
	font-size: clamp(12px, 2vw, 16px);
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
	.rowWrapper {
		height: 250px;
	}
	.colWrapper {
		width: 250px;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.rowWrapper {
		height: 300px;
	}
	.colWrapper {
		width: 300px;
	}
	.videoDescription {
		display: block;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.rowWrapper {
		height: 400px;
	}
	.colWrapper {
		width: 400px;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	// .rowWrapper {
	// 	height: 450px;
	// }
	// .colWrapper {
	// 	width: 450px;
	// }
}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
	// .rowWrapper {
	// 	height: 500px;
	// }
	// .colWrapper {
	// 	width: 500px;
	// }
}